@import url(https://fonts.googleapis.com/css?family=Roboto:100,400);

html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 10vw;
    background: url('https://s3.amazonaws.com/disaster-girl/disaster-girl.jpg') center center no-repeat #121311;
    background-size: cover;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    line-height: 1;
}

svg {
    display: none;
}
.overlay {
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
}
.static {
    background: url('https://s3.amazonaws.com/disaster-girl/static.gif') center center repeat #121311;
    opacity: 0.05;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
}
.distortion {
    margin: auto;
    text-align: center;
    -webkit-animation: transform 2.5s steps(10) infinite, glitch 3.2s infinite;
    animation: transform 2.5s steps(10) infinite, glitch 3.2s infinite;
    z-index: 5;
}
.distortion__error {
    font-weight: 100;
    color: #E0E6DB;
}
.distortion__code {
    font-weight: 400;
    color: #f6a033;
}
.distortion__message {
    font-size: 0.5em;
    font-weight: 100;
    color: #999;
}
.github-corner svg {
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
    fill: rgba(0,0,0,0.5);
    color: #f6a033;
    display: block;
    z-index: 10;
}
.github-corner:hover svg {
    fill: #000;
    color: #f6a033;
}
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

.button-wrapper {
    position: absolute;
    z-index: 10;
    width: 100%;
    bottom: 17%;
    left: 0;
    text-align: center;
    font-size: .35em;
}

.button-wrapper a {
    background: #000;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #f6a033;
    font-weight: 400;
    margin: 0;
}

.button-wrapper a:hover {
    background: #f6a033;
    color: #FFF;
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@-webkit-keyframes glitch {
    45% {
        -webkit-filter: none;
        filter: none;
    }
    46% {
        -webkit-filter: url(#dist-01);
        filter: url(#dist-01);
    }
    47% {
        -webkit-filter: url(#dist-02);
        filter: url(#dist-02);
    }
    48% {
        -webkit-filter: url(#dist-03);
        filter: url(#dist-03);
    }
    50% {
        -webkit-filter: none;
        filter: none;
    }
    95% {
        -webkit-filter: none;
        filter: none;
    }
    96% {
        -webkit-filter: url(#dist-02);
        filter: url(#dist-02);
    }
    97% {
        -webkit-filter: url(#dist-04);
        filter: url(#dist-04);
    }
}

@keyframes glitch {
    45% {
        -webkit-filter: none;
        filter: none;
    }
    46% {
        -webkit-filter: url(#dist-01);
        filter: url(#dist-01);
    }
    47% {
        -webkit-filter: url(#dist-02);
        filter: url(#dist-02);
    }
    48% {
        -webkit-filter: url(#dist-03);
        filter: url(#dist-03);
    }
    50% {
        -webkit-filter: none;
        filter: none;
    }
    95% {
        -webkit-filter: none;
        filter: none;
    }
    96% {
        -webkit-filter: url(#dist-02);
        filter: url(#dist-02);
    }
    97% {
        -webkit-filter: url(#dist-04);
        filter: url(#dist-04);
    }
}
@-webkit-keyframes transform {
    0% {
        -webkit-transform: translate(-5%, -5%) skew(-10deg) scale(1.05);
        transform: translate(-5%, -5%) skew(-10deg) scale(1.05);
    }
    1% {
        -webkit-transform: none;
        transform: none;
    }
    88% {
        -webkit-transform: none;
        transform: none;
    }
    89% {
        -webkit-transform: translate(5%, 10%) scale(1.05);
        transform: translate(5%, 10%) scale(1.05);
    }
    90% {
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes transform {
    0% {
        -webkit-transform: translate(-5%, -5%) skew(-10deg) scale(1.05);
        transform: translate(-5%, -5%) skew(-10deg) scale(1.05);
    }
    1% {
        -webkit-transform: none;
        transform: none;
    }
    88% {
        -webkit-transform: none;
        transform: none;
    }
    89% {
        -webkit-transform: translate(5%, 10%) scale(1.05);
        transform: translate(5%, 10%) scale(1.05);
    }
    90% {
        -webkit-transform: none;
        transform: none;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 16vw;
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}